<div class="thin-page">
  <figure><%= image_tag @session.game.picture ? '/user_upload/game_images/' + @session.game.picture.hash_id + '.png'
                            : 'http://40.media.tumblr.com/7fc1ec1d41f45923d2fe7729d5680722/tumblr_o0q5hyNrZ01uroz2uo2_1280.jpg',
                        width: '40%' %></figure>
  <h2>Log in to play <em><%= @session.game.name %></em> by <em><%= @session.game.user.name %></em></h2>
  <%= render 'login_form', :session_hidden_tags => true %>
</div>
