<p id="notice"><%= notice %></p>

<div class="thin-page info-page">
  <h2>Welcome to <em>OnBoard</em>, <%= @user.name %></h2>
  <% if @user.game.count.zero? %>
    It looks like you've never made a game on OnBoard! You can create them using the create link at the top.
  <% else %>
    It looks like you've made some games here. Click Browse at the top to see your games and play.
  <% end %>

  <%= button_to 'Edit profile', edit_user_path(@user), :method => :get %>
</div>
