<section class="game-table game-table-chat-enabled" id="game-board">
  <game-view v-bind:game="game" v-on:action-applied="actionAppliedHandler" v-on:component-right-clicked="componentRightClicked"></game-view>
  <div class="chatbox">
    <header>
      <h2>Chat</h2>
    </header>
    <chat-area :messages="chatMessages" v-on:message-sent="msgSentHandler"></chat-area>
  </div>
</section>

<svg height="0" xmlns="http://www.w3.org/2000/svg" class="hidden">
  <filter id="owned-shadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="4"/>
    <feOffset dx="0" dy="0" result="offsetblur"/>
    <feFlood flood-color="rgba(0,255,0,0)"/>
    <feComposite in2="offsetblur" operator="in"/>
    <feMerge>
      <feMergeNode/>
      <feMergeNode in="SourceGraphic"/>
    </feMerge>
  </filter>
</svg>
