<div class="left-settings sidebar">
    <p><strong>SPECTATING [CURRENTLY DISABLED]</strong></p>
    <p>
      Game is <%= @game_session.game.name %>.  Session hash is <%= @game_session.game_hash %>. Notice: <%= notice %>.
    </p>
</div>
<div class="middle">
    <div class="board">
	    <img src="http://bar.co.uk/wp-content/uploads/2016/10/monopoly-010.jpg" alt="Board" />
    </div>
	<fieldset class="zoom-controls">
		<input type="button" class="zoom-in" value="Zoom in" />
		<input type="button" class="zoom-out" value="Zoom out" />
	</fieldset>
</div>
<div class="right-settings sidebar">
    
</div>