<header class="site-header">
  <nav>
    <h1>
      <%= link_to root_path, :class => "site-logo" do %>
        On<span>Board</span><em>.fun</em>
      <% end %>
    </h1>
    <ul class="main-nav">
      <li><%= link_to "Create game", new_game_path, 'data-turbolinks' => false  %></li>
      <li><%= link_to "Browse", "/games" %></li>
    </ul>
    <div class="user-info">
      <%= render @header_user_data %>
    </div>
  </nav>
</header>
