<div id="backing-image"></div>
<div class="thin-page not-as-thin">
  <h2 class="main-heading">Welcome to <span class="site-logo">On<span>Board</span><em>.fun</em></span></h2>
  <h3 class="subheading"><em>Every</em> board, <em>without</em> the board.</h3>

  <hr/>
  <div class="button-horizontal-container">
    <%= link_to 'Login', login_users_path, class: 'button' %>
    <%= link_to 'Register', new_user_path, class: 'button' %>
  </div>
  <hr/>

  <section class="promotional-info">
    <div class="promotional-info-top">
      Board games are <em>big</em>, <em>bulky</em>, and <em>difficult to transport</em>. In addition, some
      games are only available in certain markets, may be <em>out of print</em>, or
      simply don’t exist at all except in your mind.
    </div>
    <div class="promotional-info-faded">
      What if you could remove all the hassle from board games so that you
      can spend less time working, and more time playing?
    </div>
    <ul>
      <li>
        <header>Create a Game</header>
        Creating a game has never been easier. With
        our simple yet powerful interface, you can
        easily invent a game from scratch or import
        images from a pre-existing games directly into
        our editor.
      </li>
      <li>
        <header>Play With Friends</header>
        Board games are meant to be social. With our
        platform, you can play any games you or a friend
        have created. Simply share the link with friends,
        and start playing!
      </li>
      <li>
        <header>Store Your Favourites</header>
        Keep all of your favourite games in one place
        by adding them to your library. You’ll be
        able to start new games, or return to a previous
        session - perfect for those long games where
        you need to take a break.
      </li>
      <li>
        <header>Simplify Set-up</header>
        Some board games require long, tedious
        set-up before you can begin playing.
        OnBoard streamlines this process so you can
        set up once, and play as many times as you
        want!
      </li>
    </ul>
  </section>

</div>
