<div class="left-settings sidebar">  
  <h1>Editing Game</h1>

  <%= render 'form', game: @game %>
</div>

<div class="middle">
  
</div>

<div class="right-settings sidebar">
  <h2>Toolbox</h2>
  <editor v-bind:game="game"></editor>
</div>