$dark-blue: #1f2333;
$blue-highlight: #40b1d0;
$dark-grey-blue: #2e3244;
$grey-blue: #8388a0;
$background-col: #3b3f54;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
