@import '_variables.scss';

.controller-games {
  
  #images-display {
    img {
      width: 64px;
      height: 64px;
    }
  }

  .games {
    margin: 0 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    
    .card {
      overflow: hidden;
      margin: 10px 0 0;
      width: calc(1/4*100% - (1 - 1/4)*10px);
      box-sizing: border-box;
      border-radius: 3px;
      box-shadow: 0 3px 10px rgba(0,0,0,.5);
      line-height: 0;
      
      img {
        max-height: 200px;
      }
      
      .card-content {
        background: $grey-blue;
        padding: 10px;
        line-height: normal;
      }
    }
  }
  
  label {
    display: block;
    color: $grey-blue;
  } 
  
  .sidebar {
    
    h2 {
      margin: -10px -10px 5px;
      padding: 10px;
      border-bottom: 2px solid $blue-highlight;
      background-color: $dark-blue;
      background-image: linear-gradient(lighten($dark-blue, 2%), $dark-blue);
      font-weight: bold;
    }
    
  }
  
  .toolbox {
    
    ul {
      margin: 0 -5px;
      display: flex;
      li {
        width: 25%;
        line-height: 0;
        
        .toolbox-item {
          background-color: $background-col;
          border-radius: 3px;
          margin: 5px;
          padding: 10px 0;
          text-align: center;
        }
        
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
    
  }
  
  .jumbotron, .cover-photo {
    background-color: #000;
    position: relative;
    overflow: hidden;
  }
  
  .game-title, .cover-photo input {
    font-weight: bold;
    color: #fff;
    position: relative;
    z-index: 100;
    background: linear-gradient(rgba(0,0,0,0) 40%, rgba(0,0,0,.8));
    text-shadow: 0 0 2px rgba(0,0,0,.5);
  }
  
  .background-image, .cover-photo img {
    position: absolute;
    top: 0; left: -10%;
    width: 120%;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
    filter: blur(2px);
    transform: translateY(-30%);
  }
  
  .cover-photo {
    margin: -5px -10px 0;
    height: 100px;
    
    input {
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      font-size: 1.2em;
      background-color: none;
      border-width: 0;
      transition: all 0.1s linear;
      
      &:focus {
        outline: none;
        border: 2px $blue-highlight dotted;
        padding: 8px;
      }
    }
  }
   
}

.controller-games.action-show {
  
  .game-title {
    padding: 90px 10px 10px;
    font-size: 3.5em;
  }
  
  .collection {
    max-width: 600px;
    margin: auto;

    /* TODO: Tidy this up */
    .collection-item {
      height: 48px;
      line-height: 32px;

      a {
        margin-top: -4px;
      }
    }
  }
}

.controller-games.action-edit {
  
}

