@import url('http://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import '_variables.scss';

body, * {
  font: 14px 'Nunito Sans', Arial, sans-serif;
}

body {
  color: #fff;
  background-color: $background-col;
  max-width: 100%;
}

em {
  color: lighten($background-col, 50);
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
}

::selection {
  background: $blue-highlight;
  color: #fff;
}

.material-icons {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.site-header {
  height: 48px;
  background-color: $dark-blue;
  background-image: linear-gradient(lighten($dark-blue, 2%), $dark-blue);
  border-bottom: 1px solid darken($dark-blue, 5%);
  box-shadow: 0 2px 5px rgba(0,0,0,.075);
  box-sizing: border-box;
  z-index: 2;
}

.site-header h1 {
  display: inline;
}

.site-logo {
  margin: 0 10px;
  float: left;
  line-height: 48px;
  font-size: 1.5em;
  color: #fff;
}

.site-logo span {
  font-weight: bold;
}

.site-logo em {
  font-family: 'Caveat', cursive;
  color: $blue-highlight;
}

.main-nav a {
  float: left;
  line-height: 44px;
  padding: 2px 10px 0;
  font-weight: bold;
  text-transform: uppercase;
  color: $grey-blue;
  border: 0 solid $blue-highlight;
  transition: all 0.1s linear;
  &:hover {
    background-color: $dark-grey-blue;
    border-bottom-width: 2px;
    color: #fff;
  }
}

.user-info {
  margin-right: 10px;
  float: right;
  a {
    line-height: 48px;
    color: $grey-blue;
  }
  img {
    float: right;
    margin: 14px 0 14px 10px;
    border-radius: 16px;
  }
}

.sidebar {
  float: left;
  width: 250px;
  height: calc(100vh - 48px);
  box-sizing: border-box;
  background-color: $dark-grey-blue;
}

.left-settings {
  border-right: 1px solid #171a26;
}

.middle {
  float: left;
  width: calc(100vw - 500px);
  height: calc(100vh - 48px);
  overflow: hidden;
  position: relative;
}

.right-settings {
  border-left: 1px solid #171a26;
}

.thin-page {
  margin: auto;
  max-width: 600px;

  h2 {
    margin: 10px 0;
    font-size: 2em;
  }
}

.board-area {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  * {
    user-select: none;
  }

  .component {
    position: absolute;
    transition: transform 0.1s linear, opacity 0.1s linear;

    &.dragging {
      transform: scale(1.02);
      filter: url(#drop-shadow);
      z-index: 100;
    }
  }

  &.focus .component {
    opacity: 0.4;

    &.comp-selected {
      opacity: 1;
    }
  }
}

.floating-edit-button, .floating-edit-button-input {
  display: inline-block;
  position: absolute;
  right: 0;
  z-index: 50;
  margin: 5px;
  color: rgba(255, 255, 255, 0);
  transition: color linear 100ms;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.floating-edit-button-input {
  z-index: 100;
  opacity: 0;
}

.hidden {
  display: none;
}

input[type=button], input[type=submit], input[type=text], input[type=password],
input[type=number], input[type=checkbox], button, .button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  transition: all 0.05s linear;
  outline: none;
  box-sizing: border-box;
  margin: 5px 0;
}

input[type=text], input[type=password], input[type=number], input[type=checkbox] {
  border: 1px solid $grey-blue;
  background-color: rgba(255,255,255,.02);

  &:hover {
    background-color: rgba(255,255,255,.1);
  }

  &:active, &:focus {
    background-color: rgba(255,255,255,.05);
  }
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  padding: 0;
  float: left;

  &:checked::before {
    @extend .material-icons;
    content: 'check';
    width: 100%;
    line-height: 30px;
    text-align: center;
    color: $grey-blue;
  }

  & + label {
    margin: 10px 0 5px 44px;
    height: 34px;
    line-height: 34px;
  }
}

input[type=button], input[type=submit], .button {
  margin-top: 10px;
  text-align: center;
  background-color: $blue-highlight;
  border: 0 darken($blue-highlight, 10%) solid;
  border-bottom-width: 2px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 darken($blue-highlight, 10%);
  outline: none;

  &:hover, &:focus {
    transform: translateY(-1px);
    border-bottom-width: 3px;
    background-color: lighten($blue-highlight, 5%);
  }

  &:active {
    transform: translateY(2px);
    border-bottom-width: 0;
    background-color: darken($blue-highlight, 5%);
    box-shadow: inset 0 2px 2px darken($blue-highlight, 20%);
  }
}

.inline-button {
  width: auto;
  display: inline-block;
  padding: 2px !important;
}

.button-horizontal-container {
  margin: 10px 0 10px 0;
  display: flex;
}

.button-horizontal-container * {
  margin-left: 5px;
  margin-right: 5px;
}

hr {
  margin: 30px;
  border: 1px solid lighten($blue-highlight, 5%);
  border-bottom: none;
}

label, mark {
  background-color: transparent;
  color: $grey-blue;
}

.action-login_session, .action-login_attempt {
  figure {
    text-align: center;
    margin-top: 30px;
  }

  h2 {
    text-align: center;
  }
}
