@import url('http://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import '_variables.scss';

body {
    margin-top: 48px;
	font: 14px 'Nunito Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

.site-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    background-color: $dark-blue;
	background-image: linear-gradient(lighten($dark-blue, 2%), $dark-blue);
	border-bottom: 1px solid darken($dark-blue, 5%);
	box-shadow: 0 2px 5px rgba(0,0,0,.075);
	z-index: 2;
}

.site-logo {
    margin: 0 10px;
    float: left;
    line-height: 48px;
    font-size: 1.5em;
    color: #fff;
}

.site-logo span {
    font-weight: bold;
}

.site-logo em {
    font-family: 'Caveat', cursive;
    color: $blue-highlight;
}

.main-nav a {
    float: left;
    line-height: 44px;
    padding: 2px 10px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: $grey-blue;
    border: 0 solid $blue-highlight;
    transition: all 0.1s linear;
    &:hover {
        background-color: $dark-grey-blue;
        border-bottom-width: 2px;
        color: #fff;
    }
}

.user-info {
    margin-right: 10px;
    float: right;
    a {
        line-height: 48px;
        color: $grey-blue;
    }
    img {
        float: right;
        margin: 14px 0 14px 10px;
        border-radius: 16px;
    }
}

.sidebar {
    float: left;
    width: 250px;
    height: calc(100vh - 48px);
	background-color: $dark-grey-blue;
}

.left-settings {
	border-right: 1px solid #171a26;
}

.middle {
    float: left;
    width: calc(100vw - 502px);
    height: calc(100vh - 48px);
	overflow: hidden;
	position: relative;
}

.right-settings {
	border-left: 1px solid #171a26;
}
